/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************
 GENERAL STYLE 
 ************************/
ul{
    list-style-type: none;
}

 /***********************
 UTILITIES
 ************************/

/* LAYOUT */
.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-j-spacebetween{
    display: flex;
    justify-content: space-between;
}

.flex-centered{
    display:flex;
    justify-content: center;
    align-items: center;
}


/* COLOR */

/* TEXT-STYLE */
.text-cenetred{
    text-align: center;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-underline{
    text-decoration: underline;
}

.text-strong{
    font-weight: 700;
}


/***********************
 SECTION 
 ************************/
 /* NAV UPGRADE */
 #upgrade {
    height: 55px;
    /* background-color: #080b12; */
    background-color: aqua;
    width: calc(100vw - 30px);
    
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
 }

 /* HEADER */
header{
    width: 30px;
    background-color: #000000;
    height: calc(100vh - 55px);
    position: absolute;
    left: 0;
    top: 0;
}

header .playlist{
    display: none;
}

header .text{
    display: none;
}



 /* MAIN */
main{
    height: calc(100vh - 55px);
    width: calc(100vw - 30px);
    
    background-color: lightpink;
    position: absolute;
    right: 0;
    top: 0;

}


 /* NAV CONTROLS */
#media{
    height: 55px;
    background-color: rgb(27, 75, 27);
    width: 100vw;
    
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
}