/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************
 GENERAL STYLE 
 ************************/
body{
    font-family: 'Montserrat', sans-serif;

}

 ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color:gray;
}

 /***********************
 UTILITIES
 ************************/

/* LAYOUT */
.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-j-spacebetween{
    display: flex;
    justify-content: space-between;
}

.flex-ai-center{
    display:flex;
    align-items: center;
}

.flex-centered{
    display:flex;
    justify-content: center;
    align-items: center;
}

.flex-wrap{
    flex-wrap: wrap;
}

.hidden-xs{
    display: none;
}


/* COLOR */
.cl-gray{
    color: gray;
}

.cl-white{
    color: white;
}

/* TEXT-STYLE */
.text-cenetred{
    text-align: center;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-underline{
    text-decoration: underline;
}

.text-strong{
    font-weight: 700;
}


/***********************
 SECTION 
 ************************/
 /* NAV UPGRADE */
 
 /* HEADER */
header{
    width: 55px;
    background-color: #000000;
    height: calc(100vh - 90px);
    color: gray;
    justify-content: space-between;
    overflow-y: scroll;
}

header > *{
    width: 100%;
    text-align: center;
}

header img{
    height: 27px;
    margin-bottom: 0.5rem;
    filter:brightness(0.8);
}

header a{
    display: flex;
    justify-content: center;
    border-left: 3px solid rgba(0, 0, 0, 0);
    padding-right: 3px;
}

header a:hover {
    border-left: 3px solid #adff2f;
    color: white;
}

header a:hover img{
    filter:brightness(1);
}

header a:hover i{
    color: white;
}

header .home img.small-logo{
    height: 28px;
    margin: 0.4rem 0 0.9rem 0;
    filter: brightness(1);
}

header .home img.hidden-xs{
    height: 40px;
    margin: 1rem 0 1.5rem 0;
    filter: brightness(1);
}

header .text {
    padding-left: 0.5rem;
    font-weight: 600;
    font-size: 0.9rem;
}

header .home img.big-logo{
    height: 30px;
}

header .playlist h1{
    font-size: 0.9rem;
    margin: 2rem 0 0.5rem 0;
    text-transform: uppercase;
    color: white;
    text-align: start;
}

header .playlist a{
    font-weight: 600; 
}

header .playlist a i{
    font-size: 3rem;
    color: gray;
    font-weight: 600;
    margin-right: 0.5rem;
}

header .playlist li{
    font-weight: 600;
    font-size: 0.7rem;
    padding: 0.5rem 0;
}

header .account .divider{
    height: 1px;
    width: calc(100% - 26px);
    background-color: gray;
    margin: 0.5rem 0;
    display: none;
}

header .account .download-app{
    align-items: inherit;
}

header .account .download-app img{
    height: 17px;
}

header .account .download-app .text{
    padding-left: 0.8rem;
}

header .account .user-container{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: gray;
    overflow: hidden;
    margin: 1rem 0 0.5rem 0;
}

header .account .divider .user-container img{
height: 10px;
}



 /* MAIN */
main{
    height: calc(100vh - 90px);
    width: calc(100vw - 55px);
    background-color: #141922;
    padding: 0 0.8rem 90px 0;
    overflow-y: scroll;
}

main > *{
    margin: 0 1.3rem;
}

#upgrade {
    height: 90px;
    background-color: #080b12;
    width: 100%;
    justify-content: end;
    margin-left: 0;
 }

 .button-upgrade{
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    text-transform: uppercase;
    padding: 0.8rem 2.5rem;
    border-radius: 20px;
    font-size: 0.7rem;
    margin-right: 1rem;
    font-weight: 600;
}

#discover{
    flex-wrap: wrap;
    justify-content: center;

}

#discover li{
    color: #4c5057;
    font-weight: 600;
    line-height: 3rem;
    margin: 0 0.6rem;
    font-size: 0.9rem;
    text-transform: uppercase;
    
}

.recommended-container > div.container{
    align-content: start;
}

.recommended-container h1{
    color: white;
}

.recommended-container > p{
    padding: 0.5rem 0 1rem 0;
    color:#4c5057;
    font-size: 0.5rem;
}

.recommended-container .info-audio{
    width: calc(50% - 0.5rem);
    margin: 0 0.5rem 0.5rem 0;
    text-align: center;
    color: white;

}

.recommended-container .info-audio > img{
    width: 100%;
}

.recommended-container .info-audio > h2{
    padding: 0.5rem 0 0.25rem 0;
    font-size: 1rem;
}

.recommended-container .info-audio > h3{
    font-size: 0.7rem;
}

#recently-played h1{
    margin: 1.5rem 0 1.5rem 0;
    font-size: 1.5rem;
}


#for-you h1,
#popular h1{
    color: white;
    margin: 1rem 0 0 0;
    font-size: 1rem;
}

#popular .img-round{
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: green;
    overflow: hidden;
}

#popular .img-round img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}



 /* NAV CONTROLS */
#controls{
    height: 90px;
    background-color: #282828;
    width: 100vw;
}

#controls i {
    display: block;
    color: white;
    font-size: 10px;
}

/*?  listening */
#controls .listening{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    /* width: 20%; */
}

#controls .listening h1{
    font-size: 0.8rem;
}

#controls .listening h2{
    font-size: 0.6rem;
    padding-right: 0.5rem;
}

#controls .listening .like-container i{
    font-size: 0.9rem;
    margin-bottom: 0.25rem;
}


#controls .listening .song-cover{
    width: 30px;
    height: 30px;
    margin-right: 0.4rem;
}

#controls .listening .song-name{
    margin-left: 0.25rem;
    margin-right: 0.5rem;
}

#controls .listening .like-container{
    padding-right: 1rem;
    align-items: center;
}

#controls .listening i{
    color: gray;
}

/*?  player */

#controls .player{
    /* width: 60%; */
    justify-content: center;
    align-items: center;
}

#controls .player-buttons{
    align-items: center;
    justify-content: center;
    align-content: center;
    
}

#controls .player-buttons i{
    padding: 0 0.7rem 0.9rem 0.7rem;
    font-size: 1rem;   
}

#controls .player-buttons i.fa-circle-play{
    font-size: 1.3rem;
}

#controls .player-slidecontainer a{
    padding: 0 0.5rem;
    font-size: 0.5rem;
    display: inline-block;
    
}

.player-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 120px;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    border-radius: 5px;
  }


/*?  set-audio */
#controls .set-audio .timing-bar{
    align-items: center;
}

#controls .set-audio .timing-bar i{
    padding: 0 0.3rem;
    font-size: 0.7rem;
}

.audio-slidecontainer {
    width: 80px;
    margin-right: 0.5rem;
  }

  .audio-slider {
    -webkit-appearance: none;
    appearance: none;
    width: 80px;
    height: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.8;
    border-radius: 5px;
  }



/******************************
RESPONSIVENESS
*******************************/

@media screen and (min-width:576px){
    header{
        width: 230px;  
    }

    /*! header > section,
    header > div > *{
        
        padding-left: 1.5rem;
    } */

    header .home, 
    header .search a,
    header .playlist h1,
    header .playlist a, 
    header .account a{
        padding-left: 1.5rem;
    }

    
    header img.small-logo{
        display: none;
    }

    header a{
        justify-content: start;
    }

    header a:hover {
        border-left: 3px solid #adff2f;
    }

    header .account .download-app img{
        margin-left: 0.2rem;
    }

    header .account .download-app img{
        margin-bottom: 0;
    }

    header .account .divider{
        display: block;
    }

    header .account .user-container{
        margin: 0.5rem 0 0.5rem 0;
    }

    .hidden-xs{
        display: block;
    }



    main{
        width: calc(100% - 230px);
    }



}

@media screen and (min-width:768px){

    .recommended-container .info-audio{
        width: calc(25% - 0.5rem);
        margin-right: 0.5rem;
    }

}


@media screen and (min-width:992px){
    .recommended-container .info-audio{
        width: calc(100% / 6 - 0.5rem);
    }

}