/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************************
 GENERAL STYLE 
 ************************/


 /***********************
 UTILITIES
 ************************/

/* LAYOUT */
.flex-row{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.flex-j-spacebetween{
    display: flex;
    justify-content: space-between;
}

.flex-centered{
    display:flex;
    justify-content: center;
    align-items: center;
}


/* COLOR */

/* TEXT-STYLE */
.text-cenetred{
    text-align: center;
}

.text-uppercase{
    text-transform: uppercase;
}

.text-underline{
    text-decoration: underline;
}

.text-strong{
    font-weight: 700;
}


/***********************
 SECTION 
 ************************/
 /* NAV UPGRADE */
 #upgrade {
    height: 200px;
    /* background-color: #080b12; */
    background-color: aqua;
    width: calc(100vw - 50px);
 }

 /* HEADER */
header{
    width: 50px;
    background-color: #000000;
    height: calc(100vh - 200px);
}
 /* MAIN */
main{
    height: calc(100vh - 400px);
    width: calc(100vw - 50px);
    background-color: lightskyblue;
}


 /* NAV MEDIA */
#media{
    height: 200px;
    background-color: lightgreen;
    width: calc(100vw -50px);
}